.convert {
  display: flex;
  flex-direction: column;
  gap: $gap;
  margin: auto;
  text-align: center;

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $elements-padding;
  }

  &__input, &__select {
    padding: $elements-padding;
    border-radius: $border-radius;
    border: none;
    box-shadow: $box-shadow;
  }
}